* {
    box-sizing: border-box; /* Sempre vai somar o padding e o border ao width e ao height */
}

body {
    padding-top: 4rem; /* Isso daqui é para que os itens vão para baixo e não fica sobrepostos pelo Header. Esse valor de 4rem é a altura do header definido lá no Header.module.css */
    margin: 0px;
    color: #333;
    --type-first: Helvetica, Arial, sans-serif;
    --type-second: 'Spectral', Georgia;
    font-family: var(--type-first); /* Como estou definindo as variáveis acima dentro do body, vou ter acesso a elas pelo meu app inteiro */
}

h1, h2, h3, h4, p {
    margin: 0px;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
}

button, input {
    display: block;
    font-size: 1rem;
    font-family: var(--type-first);
    color: #333;
}

a {
    text-decoration: none;
}

.container {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
}